{% extends 'HBBlogBundle:Base:base.html.twig' %}

{% block title %}{{ parent() }} - Index{%endblock%}

{% block body %}
    <h1>Index</h1>
    <ul>
    {% for article in articles %}
        <li>#{{loop.index}} : </b>
            <!-- <a href="{{article.id}}">{{article.titre}}</a> (id:{{ article.id }})</b></li> -->
            <a href="{{ path('hb_blog_article_read' , {'id':article.id})}}">{{article.titre}}</a> (id:{{ article.id }})</b></li>
    {% else %}
        Pas d'élément à afficher
    {% endfor %}
    </ul>
    <a href="{{path('hb_blog_article_add')}}">ajouter</a><br/>

    TODO: paginer (prev/next)<br/>
{% endblock %}

