{% extends 'HBBlogBundle:Base:user.html.twig' %}

{% block title %}{{ parent() }} - Index{%endblock%}

{% block body %}
    <h1>Index</h1>
    <ul>
    {% for user in users %}
        <li>#{{loop.index}} : </b>
            <a href="{{ path('hb_blog_user_read' , {'id':user.id})}}">{{user.username}}</a></b> 
            (id:{{ user.id }}) (login: {{ user.login }}</li>
    {% else %}
        Pas d'utilisateur à afficher
    {% endfor %}
    </ul>
    <a href="{{path('hb_blog_user_add')}}">ajouter</a><br/>

    <hr><a href="{{path('hb_blog_article_index')}}">HOME</a><br/>

    TODO: paginer (prev/next)<br/>
{% endblock %}

