{% extends 'HBBlogBundle:Base:user.html.twig' %}

{% block title %}{{ parent() }} - Read{%endblock%}

{% block body %}
    <h1>Read</h1>
    {% if (user==null) %}
        Ce user n'existe pas
    {% else %}
        <b>id</b> : {{ user.id }}<br/>
        <b>username</b> : {{ user.username}}<br/>
        <b>login</b> :{{ user.login}}<br/>
        <b>password</b> :{{ user.password }}<br/>
        <b>admin</b> :{{ user.isadmin }}<br/>
        <b>datecre</b> :{{ user.datecre|date('d/m/Y H:i:s')}}<br/>
        <b>picture</b> :{{ user.picture }}<br/>
        <b>num articles</b> : {{ user.articles|length }}
                    {% if (user.articles|length >0) %}
                        <a href="{{path('hb_blog_article_user_index',{'uid':user.id})}}">voir les articles de cet utilisateur</a>
                    {% endif %}
                    <br/>
        <br/>

        <b>
        <a href="{{ path('hb_blog_user_mod',{'id':user.id}) }}">modifier</a>&nbsp;
        <a href="{{ path('hb_blog_user_del',{'id':user.id}) }}">supprimer</a><br/>
        </b>
    {% endif %}
    
    {% include 'HBBlogBundle:Base:user_footer.html.twig' %}
{% endblock %}

